.BookFullInfo {
  display: flex;
  justify-content: center;
  position: relative;
}

.BookImg {
  perspective: 1000px;
  transform-style: preserve-3d;
  margin: 20px;

  &-img {
    border: 2px solid #ddd;
    margin: 10px;
    padding: 10px;
    transition: transform 0.25s linear;
    max-width: 80%;
    &:hover {
      //transform: rotateX(45deg);
      cursor: pointer;
    }
  }
}

.BookHeading {
  perspective: 500px;
  transform-style: preserve-3d;
  position: absolute;
  color: #fff;
  z-index: 999;
  top: 20%;
  cursor: pointer;

  h1 {
    transition: transform 0.25s linear;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 3px 2px 3px #3e3c3c;
  }
}
